<div class="avatar" (click)="selectAvatar()">
    <img class="avatar__image" [src]="avatarSrc" alt="avatar">

    <div class="avatar__selected" *ngIf="isSelected">
        <ion-icon class="avatar__selected-icon" name="checkmark-circle-outline"></ion-icon>
    </div>
</div>