<ion-header>
    <ion-toolbar class="toolbar">
        <ion-title>
            Welcom to chat!
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="page">

    <ion-content #list class="message-list ion-padding page">


        <ion-infinite-scroll class="infinite" threshold="100px" position="top" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>

        <app-message [message]="message" [users]="users" *ngFor="let message of messages"></app-message>

    </ion-content>

    <div class="dialog">
        <input type="text" [(ngModel)]="userMessage" class="dialog__input">
        <div class="dialog__send" (click)="send()">

            <ion-icon name="send"></ion-icon>

        </div>
    </div>

</ion-content>