.message-list {
  height: 79vh;

  overflow-x: hidden;
  overflow-y: auto;
}

.dialog {
  width: 100%;
  height: 10vh;
  background: #222428;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 1rem;
  position: absolute;
  left: 0;
  bottom: 0;

  &__input {
    width: 85%;
    height: 2rem;
    outline: none;
    padding-left: 0.5em;
    overflow: hidden;
    border-radius: 0.1rem;
    border: 1px solid #ccc;
  }

  &__send {
    width: 2rem;
    height: 2rem;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.infinite {
  height: 20px !important;
}
