.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  &_right {
    flex-direction: row-reverse;

    .card__content-message::after {
      left: calc(100% - 2px);
      transform: rotate(180deg);
      border-right: 8px solid rgb(255, 242, 206);
    }

    .card__content-message {
      background-color: rgb(255, 242, 206);
    }
  }

  &__logo {
    width: 3rem;
    height: 3rem;
    background-color: #fc3;
    border-radius: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 80%;

    &-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0.1rem 0.5rem;
    }

    &-message {
      width: 100%;
      box-sizing: border-box;
      padding: 0.7rem;
      background-color: #ccc;
      font-size: 0.9rem;
      border-radius: 0.3rem;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: -15px;
        top: 0;
        border: 8px solid transparent;
        border-right: 8px solid #ccc;
      }
    }
  }
}
