<ion-header>
    <ion-toolbar color="medium">
        <ion-title>
            Авторизация
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <form novalidate class="form" [formGroup]="userForm">
        <ion-item>
            <ion-label position="floating">Имя</ion-label>
            <ion-input type="name" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Пароль</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
    </form>


    <ion-button fill="solid" expand="block" color="dark" (click)="closeModal()">Отмена</ion-button>
    <ion-button fill="solid" expand="block" color="dark" (click)="auth()">Вход</ion-button>


</ion-content>