<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      Главная страница
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding page">

  <ion-icon class="logo" name="logo-angular" color="tertiary"></ion-icon>

  <ion-button *ngIf="!isAuth" fill="solid" expand="block" color="danger" (click)="presentRegistrationModal()">
    Регистрация
  </ion-button>
  <ion-button *ngIf="!isAuth" fill="solid" expand="block" color="danger" (click)="presentModal()">Вход</ion-button>

</ion-content>