<ion-header>
    <ion-toolbar class="toolbar">
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
            Account
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding page" fullscreen="true">

    <form *ngIf="isHaveUserData" novalidate class="form" [formGroup]="userForm">
        <ion-item>
            <ion-label position="floating">Имя</ion-label>
            <ion-input type="email" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Пароль</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
    </form>

    <div class="avatars">
        <app-avatar (changeAvatar)="onAvatarChange($event)" [currentAvatar]="item" *ngFor="let item of avatars">
        </app-avatar>
    </div>

    <ion-item>
        <input (change)="onImageLoad($event)" #loadFile type="file" style="display: none">
        <ion-button (click)="loadFile.click()" slot="start" color="primary">
            <ion-icon name="add"></ion-icon>
        </ion-button>

        <img class="loaded-avatar" *ngIf="loadedImage" [src]="'data:image/jpg;base64,' + loadedImage">
    </ion-item>

    <ion-item class="fingerprint">
        <ion-label>Вход по отпечатку</ion-label>
        <ion-toggle [(ngModel)]="isFingerPrintEnabled" color="primary" slot="start"></ion-toggle>
    </ion-item>

    <ion-item class="fingerprint">
        <ion-label>Авто тема</ion-label>
        <ion-toggle [(ngModel)]="isAutoChangeEnabled" (ionChange)="onAutoChange($event)" color="primary" slot="start">
        </ion-toggle>
    </ion-item>

    <ion-item class="fingerprint">
        <ion-label>Тёмная тема</ion-label>
        <ion-toggle [disabled]="isAutoChangeEnabled" [(ngModel)]="isDarkThemeEnabled"
            (ionChange)="onThemeChange($event)" color="primary" slot="start">
        </ion-toggle>
    </ion-item>

    <ion-button (click)="saveChanges()">Сохранить</ion-button>
    <ion-button (click)="cancel()">Отмена</ion-button>

</ion-content>